{% extends "base.html" %}

{% load i18n %}
{% load staticfiles %}

{% block meta_title %}
{% trans "404" %}
{% endblock %}

{% block title %}
{% trans "Page Not Found" %}
{% endblock %}

{% block main %}
{#<div class="panel panel-danger">#}
{#	<div class="panel-heading"><h3 class="panel-title">{% trans "Page not found" %}</h3></div>#}
{#	<div class="panel-body">{% trans "The page you requested does not exist." %}</div>#}

{#</div>#}

{#<pre>#}
{#congrats! you've found a page that doesn't exist.#}
{#  ____________#}
{# (    moo     )#}
{#  ------------#}
{#       O#}
{#        O   ^__^#}
{#         o  (oo)\_______#}
{#            (__)\       )\/\#}
{#                ||----w |#}
{#                ||     ||#}
{##}
{#server cow disapproves.#}
{##}
{#(if you don't think it's your fault, <a href="https://github.com/terabyte128/ingrahamrobotics.org/issues/new">please file a bug report</a>.)#}
{#</pre>#}
    <br>
    <img src="{% static 'img/tb_sign1.png' %}" style="max-width: 350px; display: block; margin: auto; margin-top: -20px;">
    <p style="text-align: center; margin-top: 10px;">
        Oh no! A page that doesn't exist!
        <br>
        If you think it should &mdash; <a href="https://github.com/terabyte128/ingrahamrobotics.org/issues/new">please file a bug report and include what you did to get here.</a>
    </p>
{% endblock %}
