<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% load pages_tags mezzanine_tags i18n future staticfiles %}

    <title>{% block title %}{% endblock %}</title>
    {% compress css %}

        {#        <link rel="stylesheet" href="{% static "responsiveslides/responsiveslides.css" %}"/>#}

        <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
        <link rel="stylesheet" href="{% static "css/mezzanine.css" %}">
        {#<link rel="stylesheet" href="{% static "css/bootstrap-theme.css" %}">#}

        {# additional styles #}
        <link rel="stylesheet" href="{% static "css/darkly.theme.min.css" %}">
        <link rel="stylesheet" href="{% static "css/fullcalendar.min.css" %}">
        <link rel="stylesheet" href="{% static "css/style.css" %}">


    {% endcompress %}

    {% compress js %}
        <script src="{% static "mezzanine/js/"|add:settings.JQUERY_FILENAME %}"></script>
        <script src="{% static "js/bootstrap.js" %}"></script>
        <script src="{% static "js/bootstrap-extras.js" %}"></script>

        <script src="{% static "js/jquery.cookie.js" %}"></script>

        {#        <script src="{% static "js/moment.min.js" %}"></script>#}
        {#        <script src="{% static "js/fullcalendar.min.js" %}"></script>#}
        {#        <script src="{% static "js/gcal.js" %}"></script>#}
        {##}
        {#        <script src="{% static "responsiveslides/responsiveslides.min.js" %}"></script>#}

        {% block extra_js %}{% endblock %}
    {% endcompress %}
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">TaskRabbit</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="{% if page == "index" %}active{% endif %}"><a href="{% url 'taskrabbit:index' %}">My Tasks</a></li>
                <li class="dropdown {% if page == "teams" %}active{% endif %}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Teams <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        {% for team in teams %}
                            <li><a href="{% url 'taskrabbit:teams' %}{{ team.id }}">{{ team.name }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle {% if page == "tasks" %}active{% endif %}" data-toggle="dropdown">Tasks <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#" class="{% if subpage == "unassigned" %}active{% endif %}">Unassigned</a></li>
                        <li><a href="#" class="{% if subpage == "not_started" %}active{% endif %}">Not Started</a></li>
                        <li><a href="#" class="{% if subpage == "in_progress" %}active{% endif %}">In Progress</a></li>
                        <li><a href="#" class="{% if subpage == "completed" %}active{% endif %}">Completed</a></li>
                    </ul>
                </li>
                <li class="{% if page == "add_task" %}active{% endif %}"><a href="{% url 'taskrabbit:add_task' %}">Add Task</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{% url 'taskrabbit:log_out' %}">Sign Out</a></li>
                    </ul>
                </li>
            </ul>
            <p class="navbar-text navbar-right">Welcome, {{ user.first_name }}</p>
        </div><!-- /.navbar-collapse -->

    </div><!-- /.container-fluid -->
</nav>
<div class="container">
    {% block main_content %}{% endblock %}
</div>
</body>
</html>