<table class="table table-striped table-bordered">
    <thead>
    <tr>
        <th>Name</th>
        {% if page == "teams" %}<th>Owner</th>{% endif %}
        <th>Category</th>
        <th>Status</th>
        <th>Last Worked On</th>
        <th>Created</th>
    </tr>
    </thead>
    <tbody>
    {% for task in tasks %}
        <tr>
            <td><a href="{% url 'taskrabbit:view_task' %}{{ task.id }}">{{ task.name }}</a></td>
            {% if page == "teams" %}
                <td>{% if task.owner %}{{ task.owner.first_name }}{% else %}<i>None</i>
                            <a href="#" onclick="confirmClaim({{ task.id }}); return false;">(claim task)</a>{% endif %}
                </td>{% endif %}
            <td>{{ task.team }}</td>
            <td>{{ task.status }}</td>
            <td>{% if task.last_worked_on %}{{ task.last_worked_on }}{% else %}--{% endif %}</td>
            <td>{{ task.creation_date }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>