{% extends "taskrabbit/base.html" %}

{% block title %}Add Task{% endblock %}

{% block main_content %}
    <h1>Add Task</h1>
<div class="row">
    <div class="col-md-6">
        <form role="form" action="" method="post">
        {% csrf_token %}
            <label>Name</label>
            <input type="text" name="name" class="form-control" required="true">
            <br>
            <label>Description (optional)</label>
            <textarea name="description" class="form-control" rows="3"></textarea>
            <br>
            <label>Start Date</label>
            <input type="date" name="start_date" placeholder="Start date" class="form-control" required>
            <br>
            <label>End Date</label>
            <input type="date" name="end_date" placeholder="End date" class="form-control" required>
            <br>
            <label>Team</label>
            <select name="team" class="form-control">
                {% for team in teams %}
                    <option value="{{ team.id }}">{{ team.name }}</option>
                {% endfor %}
            </select>
            <br>
            <label>Owner (optional)</label>
            <select name="owner" class="form-control">
                <option value="">-- None --</option>
                {% for user in users %}
                    <option value="{{ user.id }}">{{ user.first_name }}</option>
                {% endfor %}
            </select>
            <br>
            <br>
            <div style="width:100%">
            <button name="add" class="btn btn-success" style="float:right; margin-left:5px">Save and view task</button>
            <button name="add-another" class="btn btn-default" style="float:right">Save and add another</button>
            <div style="clear:both"></div>
            </div>
        </form>
    </div>
</div>

{% endblock %}
