{% extends "taskrabbit/base.html" %}

{% block title %}Update Password{% endblock %}

{% block main_content %}
    <div class="row">
        <div class="col-sm-6" style="margin-bottom: 10px;">
            <h1>Update Password</h1>
            <form role="form" method="post" id="passwordChangeForm">
                {% csrf_token %}
                <input type="password" name="old_password" id="old_password" class="form-control" placeholder="Current Password" required>
                <br>
                <input type="password" name="password" id="password" class="form-control" placeholder="New Password" required>
                <br>
                <input type="password" name="password_confirm" id="password_confirm" class="form-control" placeholder="Confirm New Password" required>
                <br>
                <button class="btn btn-success" type="button" onclick="verifyForm();">Submit</button>
            </form>
        </div>
    </div>
    <script type="text/javascript">
    function verifyForm() {
        if ($("#password").val() === $("#password_confirm").val()) {
            $("#passwordChangeForm").submit();
        } else {
            alert("Your passwords did not match, please try again.")
        }
    }
    </script>
{% endblock %}


