{% extends 'taskrabbit/base.html' %}

{% block title %}Edit: {{ task.name }}{% endblock %}

{% load markdown_deux_tags %}

{% block main_content %}
    <div class="row">
        <div class="col-md-12">
            <h1>Edit: {{ task.name }} &nbsp;<small>{{ task.team }}</small></h1>
        </div>
    </div>
    <form action="{% url 'taskrabbit:update_task_form' %}" method="post">
        <input type="hidden" name="task_id" value="{{ task.id }}">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6">
                <h3>Edit Description <small><a href="#" onclick="$('#markdown_cheatsheet_wrapper').slideToggle(200);">(markdown supported)</a></small></h3>
                <textarea class="form-control" rows="10" name="description" style="margin-bottom: 10px;">{{ task.description }}</textarea>
                <h3>Edit Dates</h3>
                <div style="float:left">
                    <label>Start Date</label>
                    <input value="{{ task.start_date|date:"c" }}" type="date" name="start_date" id="start_date" placeholder="Start date" class="form-control" required style="display: none;">
                    <div id="start_datepicker"></div>
                </div>

                <div style="float:right">
                    <label>End Date</label>
                    <input value="{{ task.end_date|date:"c" }}" type="date" name="end_date" id="end_date" placeholder="End date" class="form-control datepicker" required style="display:none">
                    <div id="end_datepicker"></div>
                </div>

                <div style="clear:both"></div>
                <br>
                <button class="btn btn-success" type="submit">Submit</button>
            </div>

            <div class="col-md-6">
                <div style="display: none;" id="markdown_cheatsheet_wrapper">
                    {% markdown_cheatsheet %}
                </div>
            </div>
        </div>
    </form>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
        $(function() {
            $("#start_datepicker").datepicker().on('changeDate', function(e) {
                $("#start_date").val(e.format('yyyy-mm-dd'));
                $("#end_datepicker").datepicker('setStartDate', e.format());
                $("#end_datepicker").datepicker('update', new Date($("#end_date").val()));
            });
            {# because obviously january is month 0 #}
            $("#start_datepicker").datepicker('update', new Date({{ task.start_date|date:"Y, m - 1, d" }}));
            $("#start_datepicker").datepicker('show');



            $("#end_datepicker").datepicker('setStartDate', $("#start_datepicker").datepicker('getDate'));
            $("#end_datepicker").datepicker('update', new Date({{ task.end_date|date:"Y, m - 1, d" }}));
            $("#end_datepicker").datepicker('show');
            $("#end_datepicker").datepicker().on('changeDate', function(e) {
                $("#end_date").val(e.format('yyyy-mm-dd'));
            });
        });
    </script>
{% endblock %}
