{% extends "taskrabbit/base.html" %}

{% block title %}Overview - TaskRabbit{% endblock %}

{% block main_content %}
    <div class="row">
        <div class="col-sm-12" style="margin-bottom: 10px;">
            <h1>Overview for {{ user.first_name }}</h1>
        </div>
        <div class="col-sm-3">
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title">Task Info</h3></div>
                <div class="panel-body">
                    <ul style="margin-bottom: 0px;">
                        {% for status in user_statuses %}
                            <li>{{ status.name }}: {{ status.count }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title">Time Clock</h3></div>
                <div class="panel-body">
        {% if not currently_timed_in %}
            <a href="{% url "taskrabbit:clock_in_view" %}" class="btn btn-lg">Clock in</a>
        {% else %}
            <a href="{% url "taskrabbit:clock_out_view" %}" class="btn btn-lg">Clock out</a>
        {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
