<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#calendar">Calendar</a></li>
    <li><a data-toggle="tab" href="#list">List</a></li>
</ul>
<br>
<div class="tab-content">
    <div id="calendar" class="tab-pane fade in active">
        <div id="calendar-wrapper">
            {% include 'taskrabbit/task_calendar.html' %}
        </div>
    </div>
    <div id="list" class="tab-pane fade">
        <div id="table-wrapper">
            {% include 'taskrabbit/task_table.html' %}
        </div>

    </div>

    <script type="text/javascript">
        $(function(){
            var hash = window.location.hash;
            hash && $('ul.nav a[href="' + hash + '"]').tab('show');

            $('.nav-tabs a').click(function (e) {
                $(this).tab('show');
                var scrollmem = $('body').scrollTop();
                window.location.hash = this.hash;
                $('html,body').scrollTop(scrollmem);
            });
        });

    </script>
</div>