{% extends "taskrabbit/base.html" %}

{% block title %}Time history - TaskRabbit{% endblock %}

{% block main_content %}
    <div class="row">
        <div class="col-sm-12" style="margin-bottom: 10px;">
            <h1>Time History for {{ user.first_name }}</h1>
            {% if logs %}
                <div style="padding: 0 0 10px 2px">
                {% if currently_timed_in %}
                    You've been clocked in for <span id="live_clock"></span>.
                    <a href="{% url "taskrabbit:clock_out_from_history" %}">Clock out?</a><br />
                {% endif %}
                In total, you've spent <span id="total_clock"></span> clocked in.
                </div>
            <table class="table table-striped table-bordered tablesorter" id="timetable">
                <thead>
                    <tr>
                        <th>Start time</th>
                        <th>End time</th>
                        <th>Total time</th>
                    </tr>
                </thead>
                <tbody>
                    {% for log in logs %}
                    <tr>
                        <td>{{ log.entry_time }}</td>
                        <td>{{ log.exit_time }}</td>
                        <td>{{ log.time_length }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div style="text-align: center">
                <div style="float:left; display:inline-block">
                    {% if prev_page %}
                    <a href="{% url "taskrabbit:time_history_page" prev_page %}" class="btn btn-success">&larr; Previous page</a>
                    {% endif %}
                </div>
                <div style="margin: auto; width: 100%; margin-top:10px; display:inline-block; position:absolute; right:0;">Page {{ page }}</div>
                <div style="float:right; display:inline-block;">
                    {% if next_page %}
                    <a href="{% url "taskrabbit:time_history_page" next_page %}" class="btn btn-success">Next page &rarr;</a>
                    {% endif %}
                </div>
                <div style="clear:both">
                </div>
            </div>
            <script type="text/javascript">
                $(function() {
                    $("#timetable").tablesorter();
                    update_clock('live_clock', {{ current_time_length }});
                    update_clock('total_clock', {{ total_time }});
                });

                function update_clock(clock_name, time_total) {
                    time_sec = time_total % 60;
                    if (time_sec.toString().length < 2) time_sec = "0"+time_sec;
                    time_min = Math.floor(time_total / 60) % 60;
                    if (time_min.toString().length < 2) time_min = "0"+time_min;
                    time_hr = Math.floor(time_total / 3600);
                    if (time_hr.toString().length < 2) time_hr = "0"+time_hr;
                    $('#' + clock_name).text(time_hr + ':' + time_min + ':' + time_sec);
                    time_total++;
                    if ("{{ currently_timed_in }}" === "True") {
                        setTimeout(function() {update_clock(clock_name, time_total)}, 1000);
                    }
                }
            </script>
            {% else %}
                You haven't logged any time yet! :(
            {% endif %}
        </div>
    </div>
{% endblock %}
