{% extends 'taskrabbit/base.html' %}

{% block title %}{{ task.name }}{% endblock %}

{% load markdown_deux_tags %}

{% block main_content %}
    <div class="row">
        <div class="col-md-12">
            <h1>{{ task.name }} &nbsp;<small>{{ task.team }}</small></h1>
        </div>
    </div>
    <div class="row">

        <div class="col-md-12">
            <table class="table table-striped table-bordered table-condensed">
                <thead>
                <tr>
                    <th>Owner</th>
                    <th>Status</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Last Worked On</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><a style="text-decoration: none; border-bottom: none;" class="editable editable-no-underline" href="#" data-type="select" data-source="{% url 'taskrabbit:get_users_as_json' %}" data-pk="{{ task.id }}" data-name="owner" data-value="{{ task.owner.id }}">{% if task.owner %}{{ task.owner.first_name }}{% else %}--{% endif %}</a></td>
                    <td><a style="text-decoration: none; border-bottom: none;" class="editable editable-no-underline" href="#" data-type="select" data-source="{% url 'taskrabbit:get_statuses_as_json' %}" data-pk="{{ task.id }}" data-name="status" data-value="{{ task.status.id }}">{{ task.status }}</a></td>
                    <td>{{ task.start_date }}&nbsp; <a href="{% url 'taskrabbit:edit_task' task_id=task.id %}"><span class="glyphicon glyphicon-edit"></span></a></td>
                    <td>{% if task.end_date %}{{ task.end_date }}{% else %}--{% endif %}&nbsp; <a href="{% url 'taskrabbit:edit_task' task_id=task.id %}"><span class="glyphicon glyphicon-edit"></span></a></td>
                    <td>{% if task.last_worked_on %}{{ task.last_worked_on }}{% else %}--{% endif %}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h3>Description <a class="btn btn-default" style="margin-left: 10px;" href="{% url 'taskrabbit:edit_task' task_id=task.id %}"><span class="glyphicon glyphicon-edit"></span>&nbsp; Edit</a></h3>
            <p>{{ task.description|markdown }}</p>
{#            <a class="editable editable-highlight-body" data-type="textarea" href="#" data-pk="{{ task.id }}" data-name="description" data-emptytext="Click to add">{{ task.description|markdown }}</a>#}
        </div>
        <div class="col-md-6">
            <h3>Notes <button class="btn btn-default" style="margin-left: 10px;" data-toggle="modal" data-target="#addNoteModal"><span class="glyphicon glyphicon-plus"></span>&nbsp; Add</button></h3>
            <div style="height: 300px; overflow-y: auto;">
                {% for note in notes %}
                    {% if not note.automatic_note %}
                        <div style="margin-bottom: -10px;"><p>{{ note.content|linebreaks }}</p></div>
                        <div style="margin-bottom: 20px;"><p><small><i>{{ note.user.first_name }} &mdash; {{ note.status }} &mdash; {{ note.timestamp }}</i></small></p></div>
                    {% else %}
                        <div style="margin-bottom: -10px; color: teal;"><p>{{ note.content|linebreaks }}</p></div>
                        <div style="margin-bottom: 20px; color: teal;"><p><small><i>{{ note.user.first_name }} &mdash; {{ note.status }} &mdash; {{ note.timestamp }}</i></small></p></div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="addNoteModal" tabindex="-1" role="dialog" aria-labelledby="addNoteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="addNoteModalLabel">Update Status</h4>
                </div>
                <form id="addNoteForm" action="{% url 'taskrabbit:add_note' %}" method="post">
                    <div class="modal-body">
                        {% csrf_token %}
                        <input type="hidden" name="task_id" value="{{ task.id }}" autocomplete="on">
                        <textarea rows="6" class="form-control" name="content" required="true"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        // set up prerequisites
        $.fn.editable.defaults.mode = 'inline';
        $.fn.editable.defaults.url = '{% url 'taskrabbit:update_task_inline' %}';

        $(".editable").editable({
            params: {
                csrfmiddlewaretoken: $.cookie("csrftoken")
            },
            success: function(response) {
                if(response.status != "error") {
                    location.reload();
                }
            }
        });
    </script>
{% endblock %}
